{% extends 'admin/base.html' %}

{% load i18n %}

{% block title %}{{ title }} | {% trans 'SGCA - Seja bem vindo(a)' %}{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            {% block branding %}
                <h1 id="site-name">{% trans 'Almoxarifado Online' %}</h1>
            {% endblock %}
        </div>
        <div class="col-sm">
            {% block nav-global %}{% endblock %}
        </div>
    </div>

{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">SGCE - Sistema de Gestão e Controle de Almoxarifados</span>
        </div>
    </footer>
{% endblock %}
